
<div class="row">

  <ul class="media-list">
    <li class="media">
      <a class="pull-left" href="#">
        <img class="media-object img-circle" src="http://galileo.stanford.edu/images/findlen.jpg" alt="Paula Findlen" width="60">
      </a>
      <div class="media-body">
        <p>
          <a href="#">Paula Findlen</a> <br>
          <small>Co-Director</small>
        </p>
      </div>
    </li>
  </ul>

  <ul class="media-list">
    <li class="media">
      <a class="pull-left" href="#">
        <img class="media-object img-circle" src="http://galileo.stanford.edu/images/marcus.jpg" alt="Hannah Marcus" width="60">
      </a>
      <div class="media-body">
        <p>
          <a href="#">Hannah Marcus</a> <br>
          <small>Co-Director</small>
        </p>
      </div>
    </li>
  </ul>

  <ul class="media-list">
    <li class="media">
      <a class="pull-left" href="#">
        <img class="media-object img-circle" src="http://galileo.stanford.edu/images/placeholder.gif" alt="Rachel Midura" width="60">
      </a>
      <div class="media-body">
        <p>
          <a href="#">Rachel Midura</a> <br>
          <small>Assistant Director</small>
        </p>
      </div>
    </li>
  </ul>

</div>

<div class="row">

  <ul class="media-list">
    <li class="media">
      <a class="pull-left" href="#">
        <img class="media-object img-circle" src="http://galileo.stanford.edu/images/placeholder.gif" alt="Chris Basich" width="60">
      </a>
      <div class="media-body">
        <p>
          <a href="#">Chris Basich</a> <br>
          <small>Data Curator</small>
        </p>
      </div>
    </li>
  </ul>

  <ul class="media-list">
    <li class="media">
      <a class="pull-left" href="#">
        <img class="media-object img-circle" src="http://galileo.stanford.edu/images/placeholder.gif" alt="Brian Brege" width="60">
      </a>
      <div class="media-body">
        <p>
          <a href="#">Brian Brege</a> <br>
          <small>Data Curator</small>
        </p>
      </div>
    </li>
  </ul>

  <ul class="media-list">
    <li class="media">
      <a class="pull-left" href="#">
        <img class="media-object img-circle" src="http://galileo.stanford.edu/images/placeholder.gif" alt="Mackenzie Cooley" width="60">
      </a>
      <div class="media-body">
        <p>
          <a href="#">Mackenzie Cooley</a> <br>
          <small>Data Curator</small>
        </p>
      </div>
    </li>
  </ul>
</div>

<div class="row">
  <ul class="media-list">
    <li class="media">
      <a class="pull-left" href="#">
        <img class="media-object img-circle" src="http://galileo.stanford.edu/images/placeholder.gif" alt="Kyle Lee-Crossett" width="60">
      </a>
      <div class="media-body">
        <p>
          <a href="#">Kyle Lee-Crossett</a> <br>
          <small>Research Assistant 2012-13</small>
        </p>
      </div>
    </li>
  </ul>

  <ul class="media-list">
    <li class="media">
      <a class="pull-left" href="#">
        <img class="media-object img-circle" src="http://galileo.stanford.edu/images/placeholder.gif" alt="Demetrius Loufas" width="60">
      </a>
      <div class="media-body">
        <p>
          <a href="#">Demetrius Loufas</a> <br>
          <small>Data Curator</small>
        </p>
      </div>
    </li>
  </ul>

  <ul class="media-list">
    <li class="media">
      <a class="pull-left" href="#">
        <img class="media-object img-circle" src="http://galileo.stanford.edu/images/placeholder.gif" alt="Julia Roever" width="60">
      </a>
      <div class="media-body">
        <p>
          <a href="#">Julia Roever</a> <br>
          <small>Data Curator</small>
        </p>
      </div>
    </li>
  </ul>
</div>


<div class="row">
  <ul class="media-list">
    <li class="media">
      <a class="pull-left" href="#">
        <img class="media-object img-circle" src="http://galileo.stanford.edu/images/placeholder.gif" alt="Padraic Rohan" width="60">
      </a>
      <div class="media-body">
        <p>
          <a href="#">Padraic Rohan</a> <br>
          <small>Data Curator</small>
        </p>
      </div>
    </li>
  </ul>

  <ul class="media-list">
    <li class="media">
      <a class="pull-left" href="#">
        <img class="media-object img-circle" src="http://galileo.stanford.edu/images/placeholder.gif" alt="Charlotte Thun-Hohenstein" width="60">
      </a>
      <div class="media-body">
        <p>
          <a href="#">Charlotte Thun-Hohenstein</a> <br>
          <small>Data Curator</small>
        </p>
      </div>
    </li>
  </ul>

</div>