
<div class="row">

  <ul class="media-list">
    <li class="media">
      <a class="pull-left" href="#">
        <img class="media-object img-circle" src="/images/ceserani.png" alt="Giovanna Ceserani" width="80">
      </a>
      <div class="media-body">
        <p>
          <a href="#">Giovanna Ceserani</a> <br>
          <small>Director</small>
        </p>
      </div>
    </li>
  </ul>
</div>

<div class="row">
  <ul class="media-list">
    <li class="media">
      <a class="pull-left" href="#">
        <img class="media-object img-circle" src="http://galileo.stanford.edu/images/placeholder.gif" alt="Giovanna Ceserani" width="80">
      </a>
      <div class="media-body">
        <p>
          <a href="#">Rachel Midura</a> <br>
          <small>Graduate Researcher</small><br>
          <small>2015&#8212;</small>
        </p>
      </div>
    </li>
  </ul>
</div>

<h3>Collaborators</h3>

<div class="row">
  <ul class="media-list">
    <li class="media">
      <a class="pull-left" href="#">
        <img class="media-object img-circle" 
        src="http://galileo.stanford.edu/images/placeholder.gif" alt="Elijah 
        Meeks" width="80">
      </a>
      <div class="media-body">
        <p>
          <a href="#">Elijah Meeks</a> <br>
          <small>Graduate Researcher</small><br>
          <small>2015&#8212;</small>
        </p>
      </div>
    </li>
  </ul>
</div>


