
<div class="row">

  <ul class="media-list">
    <li class="media">
      <a class="pull-left" href="#">
        <img class="media-object img-circle" src="/images/ceserani.png" alt="Giovanna Ceserani" width="80">
      </a>
      <div class="media-body">
        <p>
          <span>Giovanna Ceserani</span><br>
          <small>Director<sup id="fnref:giovanna"><a href="#fn:giovanna" rel="footnote">1</a></sup></small>
        </p>
      </div>
    </li>
  </ul>
</div>

<div class="row">
  <ul class="media-list">
    <li class="media">
      <a class="pull-left" href="#">
        <img class="media-object img-circle" src="http://galileo.stanford.edu/images/placeholder.gif" alt="Giovanna Ceserani" width="80">
      </a>
      <div class="media-body">
        <p>
          <a href="#">Rachel Midura</a> <br>
          <small>Graduate Researcher</small><br>
          <small>2015&#8212;</small>
        </p>
      </div>
    </li>
  </ul>
</div>

<h3>Collaborators</h3>

<div class="row">
  <ul class="media-list">
    <li class="media">
      <a class="pull-left" href="#">
        <img class="media-object img-circle"
        src="http://galileo.stanford.edu/images/placeholder.gif" alt="Elijah
        Meeks" width="80">
      </a>
      <div class="media-body">
        <p>
          <a href="#">Elijah Meeks</a> <br>
          <small>2015&#8212;</small>
        </p>
      </div>
    </li>
  </ul>

  <ul class="media-list">
    <li class="media">
      <a class="pull-left" href="#">
        <img class="media-object img-circle"
        src="http://galileo.stanford.edu/images/placeholder.gif" alt="Erik
        Steiner" width="80">
      </a>
      <div class="media-body">
        <p>
          <a href="#">Erik Steiner</a> <br>
          <small>2015&#8212;</small>
        </p>
      </div>
    </li>
  </ul>

  <ul class="media-list">
    <li class="media">
      <a class="pull-left" href="#">
        <img class="media-object img-circle" src="/images/jheppler.jpg" alt="Jason Heppler" width="80">
      </a>
      <div class="media-body">
        <p>
          <span>Jason A. Heppler</span><br>
          <small>2016&#8212;<sup id="fnref:heppler"><a href="#fn:heppler" rel="footnote">2</a></sup></small>
        </p>
      </div>
    </li>
  </ul>

</div>

<div class="footnotes">
  <ol>
    <li class="footnote" id="fn:giovanna">
      <h4>Giovanna Ceserani</h4>
        <p>3 wolf moon stumptown roof party Marfa. Keytar semiotics iPhone, stumptown art party tattooed Intelligentsia. Food truck authentic lo-fi, aesthetic keffiyeh church-key American Apparel kitsch PBR&B ethnic hella farm-to-table. Blue Bottle narwhal tote bag pork belly, sriracha leggings messenger bag slow-carb. Kale chips wayfarers Banksy keytar 3 wolf moon. Helvetica sartorial ennui scenester Wes Anderson salvia, pork belly selvage brunch squid. Roof party Bushwick squid, seitan quinoa actually Intelligentsia Wes Anderson leggings Pinterest before they sold out fixie.<a href="#fnref:giovanna" title="return"> ↩</a><p>
    </li>
  </ol>

  <ol>
    <li class="footnote" id="fn:heppler">
      <h4>Jason Heppler</h4>
        <p>Jason Heppler is the Academic Technology Specialist for the Department of History at Stanford University, working with both the Center for Spatial and Textual Analysis and the Center for Interdisciplinary Digital Research. More about his work and scholarship can be <a href="http://jasonheppler.org">found on his homepage</a>.<a href="#fnref:heppler" title="return"> ↩</a><p>
    </li>
  </ol>
</div>


